
<div id=data-div>
<table>
    <thead>
        <tr>
            <th>
                <span>Country</span>
            </th>
            <th>
                <span>Active</span>
            </th>
            <th>
                <span>Today case</span>
            </th>
            <th>
                <span>Confirmed</span>
            </th>
            <th>
                <span>Recovered</span>
            </th>
            <th>
                <span>Deceased</span>
            </th>
            <th>
                <span>Deceased today</span>
            </th>
        </tr>
    </thead>
    <tbody> 
    <tr *ngFor="let countries of worldData let i=index;" [ngStyle]="{'background-color': i%2==0? 'rgb(232, 240, 254)' : 'white'}" #selectedCountry (click)="getCountry(selectedCountry)">
        <td>
            <img src="{{countries.countryInfo.flag}}" alt="{{countries.country}}">
            {{countries.country}}
        </td>
        <td>
            <span style="background-color: orange; color: white;">{{countries.active}}</span>
        </td>
        <td>
            <span style="background-color: orange; color: white;">{{countries.todayCases}}</span>
        </td>
        <td>
            <span style="background-color: orange; color: white;">{{countries.cases}}</span>
        </td>
        <td>
            <span style="background-color: green; color: white;">{{countries.recovered}}</span>
        </td>
        <td>
            <span style="background-color: red; color: white;">{{countries.deaths}}</span>
        </td>
        <td>
            <span style="background-color: red; color: white;">{{countries.todayDeaths}}</span>
        </td>
    </tr>
    </tbody>
</table>
</div>

<div id="bar-chart-div">
    <div id="chartContainer" style="width: 100%; height: 300px;"></div>
  <div style="position: absolute; margin-top: 0%; width: 100%;">
    <hr>
    <span>Jai Ram G ki | Data Source : <a href="https://disease.sh/" target="_blank">www.covid19india.org</a></span>
  </div>
</div>


