<div id = "header-div" style="visibility: hidden;">
<table border="1" width=100%  style="border: thin;"> 
    <tr style="border: thin;">
        <th colspan="2" width=28%>
            <span>Country</span>
        </th>
        <th width=12%>
            <span>Active cases</span>
        </th>
        <th width=12%>
            <span>Today cases</span>
        </th>
        <th width=12%>
            <span>Total cases</span>
        </th>
        <th width=12%>
            <span style="background-color: green; color: white;">Recovered yet</span>
        </th>
        <th width=12%>
            <span>Total Deceased</span>
        </th>
        <th width=12%>
            <span>Today Deceased</span>
        </th>
    </tr>
</table>
</div>
<div id="data-div">
<table width= 100% style="border: thin;"> 
    <tr *ngFor="let countries of worldData let i=index;" [ngStyle]="{'background-color': i%2==0? 'rgb(232, 240, 254)' : 'white'}" #selectedCountry (click)="getCountry(selectedCountry)">
        <td style="padding: 15px;" width=14%>
            <img src="{{countries.countryInfo.flag}}" alt="{{countries.country}}">
        </td>
        <td width=14%>
            <span>{{countries.country}}</span>
        </td>
        <td  width=12%>
            <span>Active</span><br>
            <span style="background-color: orange; color: white;">{{countries.active}}</span>
        </td>
        <td  width=12%>
            <span>Today case</span><br>
            <span style="background-color: orange; color: white;">{{countries.todayCases}}</span>
        </td>
        <td  width=12%>
            <span>Confirmed</span><br>
            <span style="background-color: orange; color: white;">{{countries.cases}}</span>
        </td>
        <td  width=12%>
            <span>Recovered</span><br>
            <span style="background-color: green; color: white;">{{countries.recovered}}</span>
        </td>
        <td  width=12%>
            <span>Deceased</span><br>
            <span style="background-color: red; color: white;">{{countries.deaths}}</span>
        </td>
        <td  width=12%>
            <span>Deceased today</span><br>
            <span style="background-color: red; color: white;">{{countries.todayDeaths}}</span>
        </td>
    </tr>
</table>
</div>

<div id="bar-chart-div">
    <div id="chartContainer" style="width: 100%; height: 300px;"></div>
  <div style="position: absolute; margin-top: 0%; width: 100%;">
    <hr>
    <span>Jai Ram G ki | Data Source : <a href="https://disease.sh/" target="_blank">www.covid19india.org</a></span>
  </div>
</div>


